.two-section .container {
  display: flex;
  /* gap: 3rem; */
  /* flex-wrap: wrap; */
  justify-content: space-between;
  margin-inline: auto;
}

.two-section li {
  box-shadow: 0 2px 5px -1px rgba(50, 50, 93, 0.25),
    0 1px 3px -1px rgba(0, 0, 0, 0.3);
}

.two-section .card-content {
  padding-inline: 2rem;
}

.two-section .card-heading {
  /* font-size: var(--fs3); */
}
.latest-stories .card-img-holder,
.editor-choice-stories .card-img-holder {
  width: 15rem;
  aspect-ratio: 1/1;
  /* height: 20rem; */
}

.two-section .section-latest {
  flex: 0 0 55%;
}
.two-section .section-editor-choice {
  flex: 0 0 40%;
}

.latest-stories,
.editor-choice-stories {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.section-latest .card,
.section-editor-choice .card {
  display: flex;
  flex-direction: row;
  /* gap: 4rem; */
}

.section-latest .card-img-holder {
  width: 15rem;
  aspect-ratio: 1/1;
}

.section-latest img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.section-latest .card-meta-info span,
.editor-choice-stories .card-meta-info span {
  text-transform: uppercase;
  display: inline-block;
}

.section-latest .card-meta-info span.author,
.editor-choice-stories .card-meta-info span.author {
  color: var(--color-pink-800);
}

.section-latest .card-meta-info span::before,
.editor-choice-stories .card-meta-info span::before {
  content: " ";
  /* background-color: var(--white); */
}

.latest-stories .card-content {
  width: 65%;
}

.latest-stories .card-content,
.editor-choice-stories .card-content {
  display: flex;
  flex-direction: column;
  justify-content: start;
  /* gap: 2rem; */
}

@media screen and (max-width: 1000px) {
  .two-section .container {
    flex-direction: column;
  }
}
