.preview .container {
  width: 50%;
  margin-left: 10%;
  /* width: 90%; */
  overflow: hidden;
  color: var(--black);
  font-weight: 500;
  line-height: 1.6;
}

.preview h3 {
  font-size: var(--fs5);
  font-weight: var(--fw700);
  margin-block: 1.5rem;
}

.title {
  font-size: var(--fs8);
}

.summary {
  margin-block: 2rem;
  /* margin-bottom: 4rem; */
}

.meta-info {
  display: flex;
  gap: 1.5rem;
  margin-block-end: 4rem;
}

.meta-info .author,
.meta-info .date {
  color: var(--color-pink-800);
}

.meta-info p::after {
  content: "|";
  font-weight: var(--fw800);
  margin-left: 1rem;
}

.meta-info span {
  display: inline-block;
}

.content-img-holder {
  width: 70%;
  height: 25rem;
  margin-inline: auto;
  overflow: hidden;
}

.content-img {
  width: 100%;
  object-fit: contain;
  object-position: center;
}

.content-text {
  margin-block: 3rem;
}

.content-text h3 {
  color: var(--color-pink-800);
}

.content-paragraph {
  margin-block-end: 2rem;
}

.content-paragraph::before {
  content: "";
  display: inline-block;
  /* background: var(--color-pink-800); */
  width: 5rem;
  height: 2rem;
}

/* .btn-preview {
  font-size: var(--fs3);
  text-transform: uppercase;
  padding: 1rem 2rem;
  border-radius: 100px;
  margin-inline: auto;
} 

.btn-preview i {
  margin-right: 1rem;
}

.btn-detail:is(:hover, :focus-visible) i {
  color: var(--white);
} */
