.section-footer {
  background-color: var(--color-pink-800);
  color: var(--white);
  /* padding: 15rem; */
  margin-block-end: 0;
  /* display: flex;
  flex-direction: column;
  justify-content: space-between; */
  padding-block-start: 10rem;
  font-size: var(--fs2);
}

.section-footer .container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* place-content: center;

  place-items: center; */
}

.section-footer ul {
  display: grid;
  place-items: center;
}

.footer-logo {
  font-family: var(--ff-cursive);
  font-size: 5rem;
  font-weight: var(--fw800);
  justify-self: start;
}

.footer-list-title {
  /* font-size: var(--fs3); */
  text-transform: capitalize;
  margin-block-end: 2rem;
}

.footer-list-title::after {
  content: "";
  display: block;
  width: 5rem;
  height: 2px;
  background-color: var(--white);
  margin-block-start: 0.5rem;
  margin-inline: auto;
}

.footer-item {
  padding-block: 3px;
}

.copyright {
  padding-block-end: 2rem;
  text-align: center;
  margin-block-start: 5rem;
}

@media screen and (max-width: 1000px) {
  .section-footer .container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 2;
    font-size: var(--fs2);
    row-gap: 3rem;
  }
  .footer-brand {
    grid-column: 1/-1;
    /* max-width: 40rem; */
    text-align: center;
  }
  .footer-brand .footer-logo {
    justify-self: unset;
  }
  /* .footer-brand .footer-item {
  } */
  .footer-brand .footer-brand-text {
    width: 10rem;
    text-align: center;
  }
  .footer-list-title {
    font-size: var(--fs3);
  }
}

@media screen and (max-width: 700px) {
  .section-footer .container {
    width: 80%;
  }
}
